body, html {
    height: 100%;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../img/drinks.jpg");
    min-height: 75%;
}

.menu {
    display: none;
}

.btn-submit {
    width: 250px;
    background-color: #3CB371;
    border-color: #3CB371;
    color: white;
    padding: 2px 2px;
}

.btn-checkout {
    width: 250px;
    background-color: #3CB371;
    border-color: #3CB371;
    color: white;
    padding: 2px 2px;
}

.btn-add {
    width: 75px;
    background-color: #3CB371;
    border-color: #3CB371;
    color: white;
    padding: 2px 2px;
}

.btn-remove {
    width: 75px;
    background-color: red;
    border-color: red;
    color: white;
    padding: 2px 2px;
    display:inline-block;
}

.btn-edit {
    width: 75px;
    background-color: orange;
    border-color: orange;
    color: white;
    padding: 2px 2px;
    display:inline-block;
}

.txt-quantity {
    width: 60px;
    text-align: center;
}

.txt {
    width:150px;
    text-align: center;
}

