body, html {
    height: 100%;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../img/drinks.jpg");
    min-height: 75%;
}

.menu {
    display: none;
}

.btn-add {
    width: 8%;
    background-color: #3CB371;
    border-color: #3CB371;
    color: white;
    padding: 2px 2px;
    float: right;
}

.btn-submit {
    width: 15%;
    background-color: #3CB371;
    border-color: #3CB371;
    color: white;
    padding: 2px 2px;
}

.btn-checkout {
    width: 40%;
    background-color: #3CB371;
    border-color: #3CB371;
    color: white;
    padding: 2px 2px;
}

.txt-quantity {
    width: 5%;
}

.btn-remove {
    width: 10%;
    background-color: red;
    border-color: red;
    color: white;
    padding: 2px 2px;
}

